html{
	scroll-behavior:smooth
}
body {
	margin: 0;
	font-family: Segoe UI,Frutiger,Frutiger Linotype,Dejavu Sans,Helvetica Neue,Arial,sans-serif; 
	background-color: gray;
}

/* Global */

.centre {
	margin:auto;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.bigSpace {
	height:1000px;
}

/* Nav Bar */
#navbar {
	overflow: visible;
	background-color: #333;
	width:100%;
	position:fixed;
	z-index: 101;
}

#navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

#navbar a:hover, .dropdown:hover a {
	background-color: #ddd;
	color: black;
}

#navbar a.active {
	background-color: #4CAF50;
	color: blue;
}

/* Drop Down */
#More a {
	font-size: 17px;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	z-index: 101;
}

.dropdown {
	float: left;
  	overflow: hidden;
}

.DropDownItem {
	display: none;
	position: absolute;
	background-color: #333;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 101;
}

.DropDownItem a {
	float: none;
	min-width: 200px;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	z-index: 101;
}

.dropdown:hover .DropDownItem {
	display: block;
}

.dropdown:active .DropDownItem {
	display: block;
}

section {
	position:relative;
	z-index: 0
}

@media only screen and (max-device-width: 480px){
	#navbar {
		display:block;
		background-color: #333;
		overflow: hidden;
		height: max-content;
		width:100%;
		position: unset;
	}

	#navbar a {
		display:block;
		color: #f2f2f2;
		margin: 0px 20px;
		text-align: center;
		text-decoration: none;
		font-size: 17px;
		padding: 20px 0px;
		float: none;
	}

	#navbar a.active {
		background-color: #4CAF50;
		color: blue;
	}
}

/* Home Page */
#Overview {
	
}

#Design {
	height:1000px;
	background-color:blue;
}

#Hardware{
	height: 1200px;
	position: relative;
}

#Parallax {
	height:1500px;
	width: 100%;
	z-index: -100;
	background-image: url("Images/Homepage/Hardware.jpg");
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
	background-size: 3000px;
	position: absolute;
}

#Technology {
	background-color: gray;
	background-image: url("Images/Homepage/controllers.png");
	background-attachment: fixed;
	background-position: center;
  	background-repeat: no-repeat;
	background-size: cover;
	height:1080px;
}

#Exclusives {
	height:1080px;
}

#Market {
	background-image: url("Images/Homepage/market1.png");
	background-attachment:fixed;
	background-position:center;
	background-repeat: no repeat;
	height:1080px;	
}

#UIUX {

}

/* Sub Pages */

#Container {
	width: 90%;
	height: auto;
	margin: auto;
}

#ps {
	float:left;
	background: linear-gradient(100deg,rgba(15,60,189,1) 60%, rgb(29, 76, 231) 80%, rgba(15,60,189,1) 81%, rgba(15,60,189,1) 97%);
	width:50%;
	height:100%;
	background-repeat: repeat-y;
}
#xbox {
	float:right;
	background: linear-gradient(45deg, rgba(0,0,0,.9) 0%, rgba(33,33,33,0.9) 100%);
	width:50%;
	height:100%;
}

.Logo {
	width:95%;
	padding: 20px 0px;
}

.theHeader {
	background: rgba(33,33,33,0.9);
	margin: 0px;
}

.theHeader p {
	margin: 0px;
	padding: 5px;
	color: white;
}

.theFooter {
	background: rgba(33,33,33,0.9);
	margin: 0px;

}

.theFooter p {
	margin: 0px;
	padding: 5px;
	color: white;
}

.content {
	margin:auto;
	width: 95%;
	color: white;
	background-color: rgba(5,5,5,.1);
	padding: 1px 5px;
	z-index: 0;
	position: relative;
}

.content img{
	width:90%;
}

.content h1 {
	font-size: 24pt;
}