#Container {
	width:80%;
	height:auto;
	margin:auto;
}

.centre {
	margin:auto;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.xboxLogo {
	width:95%;
	padding-top: 50px;
}

.ps2Logo {
	width:95%;
	padding-top: 50px;
}

#ps {
	float:left;
	background: linear-gradient(100deg,rgba(15,60,189,1) 60%, rgb(29, 76, 231) 80%, rgba(15,60,189,1) 81%, rgba(15,60,189,1) 97%);
	width:50%;
	height:100%;
	background-repeat: repeat-y;
}
#xbox {
	float:right;
	background: linear-gradient(45deg, rgba(0,0,0,.9) 0%, rgba(33,33,33,0.9) 100%);
	width:50%;
	height:100%;
}