body {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
  }

#Container {
	width:80%;
	height:1000px;
	margin:auto;
}

#navbar {
	overflow: hidden;
	background-color: #333;
}

#navbar a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
}

.dropdown {
	float: left;
  	overflow: hidden;
}

#navbar a:hover, .dropdown:hover a {
	background-color: #ddd;
	color: black;
}

#navbar a.active {
	background-color: #4CAF50;
	color: blue;
}

#More a {
	font-size: 17px;  
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	font-family: inherit;
	margin: 0;
}

.DropDownItem {
	display: none;
	position: absolute;
	background-color: #333;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	padding: 12px 16px;
	z-index: 1;
}

.DropDownItem a {
	float: none;
	text-align: left;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
	display: block;
}

.dropdown:hover .DropDownItem {
	display: block;
}

.centre {
	margin:auto;
	display: block;
	margin-left: auto;
  	margin-right: auto;
}

.xboxLogo {
	width:95%;
	padding-top: 50px;
}

.ps2Logo {
	width:95%;
	padding-top: 50px;
}

#ps {
	float:left;
	background: linear-gradient(100deg,rgba(15,60,189,1) 60%, rgb(29, 76, 231) 80%, rgba(15,60,189,1) 81%, rgba(15,60,189,1) 97%);
	width:50%;
	height:100%;
	background-repeat: repeat-y;
}
#xbox {
	float:right;
	background: linear-gradient(45deg, rgba(0,0,0,.9) 0%, rgba(33,33,33,0.9) 100%);
	width:50%;
	height:100%;
}